*, *::before, *::after {
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: -1rem;
    
}

.search {
    display: flex;
    flex-grow: 1;
    margin: 0 2rem 0 4rem;
}
.search-bar {
    width: 100%;
    font-size: inherit;
    padding: .4em;
    border: 1px solid #777;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


.submit {
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
    border: 1px solid #777;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}


.submit:hover{
    background-color: #f0f0f0;
}

.menuButton {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;    
    gap: 2.5em;
    margin: 0 3em 0 4em;
}

.poggers {
    color: white;
    background-color: rgba(255, 0, 0, 0);
    padding: 0 1em;
}
.b1,.b3 {
    display: none;
    padding : 3px;
    min-width: 50px;
}
.pepeL {
    position: relative;
    color: inherit;
    font-weight: 100;
    font-size: medium;
    border: 1px solid white;
    border-radius: 50px;
    padding: 7px 7px;
    text-decoration: none;
    transition: all 100ms ease 0s;
} 
/* 
.pepeL:hover {
    padding: 7px 18px;
}
.smile {

}
 */
/* .git {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 70px 70px;
    padding : 0;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 50px;
    width: 0px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s cubic-bezier(0.86, 0, 0.07, 1) 0s;
    cursor: pointer;
}

.git:hover {
    background-color: rgb(255, 0, 43);
    width: 50px;
    height: 50px;
    position: fixed;
}
.joinGit {
    padding: 0;
    font-size: 1.4em;
    text-decoration: none;

} */

/* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5em .5em;
    
} */
/* 
.menuButton {

} */

/* .upperSide {
    position: absolute;
    /* isplay: flex;
    flex-direction: column;
    background-color: #e9e8e9;
    height: 6rem; 
}    */


.logoImage {
    width: 150px;
    padding: .5em;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
 
/* 
    position: relative;
    left: 40rem;

 */    
    
}
.ips {
    font-size: medium;
    font-weight: 500;
    
}



.videoSection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3rem 1rem;
    padding: 3rem 0;
    margin: 0 1.5rem;
    border-top: 4px solid #ccc;
}

.videoSection:first-child {
    border-top: none;
}

.thumbnail {
    position: relative;
    display: flex;

}

.thumbnail::before {
    content: attr(data-duration);
    position: absolute;
    background-color: rgba(0, 0, 0, .85);
    color: white;
    border-radius: 15%;
    right: 5px;
    bottom: 5px;
    padding: .1em .3em;
    font-size: .9rem;
}

.videoThumbnail {
    width: 100%;
    height: 100%;
    min-width: 250px;
    min-height: 150px;
    background-color: #aaa;
}

.video-bottom {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;

}
.channel-icon {
    margin-right: .75rem;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #aaa;

}

.videoDetails {
    display: flex;
    flex-direction: column;
}

.video-title {
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-bottom: .5rem;

}

.video-channel-name {
    margin-bottom: .1rem;
    text-decoration: none;
    transition: color 150ms;

}

.video-channel-name:hover {
    color: rgb(39, 39, 39);
}

.video-metadata, .video-channel-name {
    color: #555;
}

.video-section-title {
    grid-column: 1 / -1;
    margin: -.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 ,5rem;
}

.specBut {
    border: none;
    background: none;
    padding: 0;
    font-size: 2rem;
    color: #555;
    cursor: pointer;
}

.container {
    background-color: #f9f9f9;
}
/* 
